# {{ ansible_managed }}
global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend kubeAPI
    bind :6443
    mode tcp
    default_backend kubeAPI_backend

frontend konnectivity
    bind :8132
    mode tcp
    default_backend konnectivity_backend

frontend controllerJoinAPI
    bind :9443
    mode tcp
    default_backend controllerJoinAPI_backend

backend kubeAPI_backend
    mode tcp
    balance roundrobin
{% for host in groups['k0s_controllers'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:6443 check check-ssl verify none
{% endfor %}

backend konnectivity_backend
    mode tcp
    balance roundrobin
{% for host in groups['k0s_controllers'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:8132 check check-ssl verify none
{% endfor %}

backend controllerJoinAPI_backend
    mode tcp
    balance roundrobin
{% for host in groups['k0s_controllers'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:9443 check check-ssl verify none
{% endfor %}

listen stats
    bind *:{{ k0s_lb_stats_port }}
    mode http
    stats enable
    stats uri /
