[defaults]
inventory            = inventory/hosts.ini
collections_path     = ./collections
roles_path           = ./collections/ansible_collections/k0s/platform/roles
host_key_checking    = False
retry_files_enabled  = False
stdout_callback      = yaml
interpreter_python   = auto_silent
deprecation_warnings = False

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False

[ssh_connection]
pipelining = True
